# Lazy Imports for Faster Prototyping
#pyforest  
 
# # Automated Exploratory Data Analysis (EDA)
# pandas-profiling  
# ydata-profiling  
# pydantic-settings  
# sweetviz  
 
# Data Handling and Manipulation
pandas  
numpy  
scipy

#Big Data Processing
kafka-python
pyspark  

 
# Data Visualization
matplotlib  
seaborn  
plotly  
 
# Statistical and Scientific Computing
statsmodels  
 
# Machine Learning & Recommendation Systems
scikit-learn 

# Geographic Data & Mapping  
geopandas  # Handling geospatial data  

# Dashboarding for Final Reporting  
dash  # Web-based dashboards for data visualization  
dash-bootstrap-components  # Styling for Dash applications (optional but useful)